<div class="row">
  <p class="navbar-text pull-right">
    Logged in as <strong><%= current_user.email %></strong>.
  <% if current_user.admin? %>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
    <%= link_to "Create User", create_new_user_dashboards_path, :class => 'navbar-link' %>
    <%= link_to "Create Batch", new_batch_path, :class => 'navbar-link'  %>
    <%= link_to "Upload Record", upload_file_batches_path, :class => 'navbar-link' %>
  <% elsif current_user.client? %>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
    <%= link_to "Change status", change_status_batches_path, :class => 'navbar-link' %>
  <% elsif current_user.employee? %>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
  <% else %>
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
  <% end %>
  <% if current_user.present? %>
    <%= link_to "Dashboard", root_path, :class => 'navbar-link' %>
  <% end %>
</div>