<div class="col-md-12">
  <button class="btn btn-default multi-product-action" data-value='approved' data-batch-id="<%= @batch.id %>">Approve</button>
  <button class="btn btn-default multi-product-action" data-value='rejected' data-batch-id="<%= @batch.id %>">Reject</button>
  <button class="btn btn-default" id="export-csv-action" data-batch-id="<%= @batch.id %>">Export CSV</button>

</div>
<div class="col-md-12">
  <table id='batch-product-list'>
    <thead>
      <tr>
        <th>S.No.</th>
        <th><input type="checkbox" id='select-all-pids'></th>
        <th>Model No.</th>
        <th>Manufacturer</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each_with_index do |product, ind| %>
      <tr>
        <td><%= ind +1 %></td>
        <td><input type="checkbox" name="product_ids[]" value="<%= product.id %>"></td>
        <td><%= product.model_no %></td>
        <td><%= product.manufacturer %></td>
        <td><%= product.category %></td>
        <td id="single-product-action-<%= product.id %>">
        	<%= render partial: 'single_product_action', locals: { product: product } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
