<!DOCTYPE html>
<html>
<head>
  <title>Tail</title>
  <link type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800">
  <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <link rel="shortcut icon" href="http://www.next-themes.com/odin/code/images/favicon.ico">
</head>
<body id="signin-page" class="animated bounceInDown">
<% if current_user.present? %>
<%= render 'shared/header' %>
<% end %>
<%= yield %>
<% if current_user.present? %>
<%= render 'shared/footer' %>
<% end %>
</body>
</html>