<!DOCTYPE html>
<html>
<head>
  <title>Tail</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <% if current_user.present? %>
    <%= render 'shared/header' %>
  <% end %>
  <%= yield %>
  <% if current_user.present? %>
    <%= render 'shared/footer' %>
  <% end %>
</body>
</html>
